*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    }
body{
  background-color: #404040;
}
.warning{
  width:100%;
  text-align: center;
  padding:5px;
  display:none;
  font-size:15px;
  text-shadow:none;
}
button{
  cursor:pointer;
}
a{
  text-decoration: none;
  color:#fff;
}
a.back-to-top {
	display: none;
	width: 55px;
	height: 55px;
	position: fixed;
	z-index: 999;
  right: 20px;
  border:3px solid #1273EB;
	bottom: 80px;
	background: #27AE61 url("up-arrow.png") no-repeat center 43%;
  border-radius: 100%;
  transition: .2s;    
}
a.back-to-top:hover{
    border-color:#fff;
    transition: .2s;
}
a.back-to-top img {
    width:55px;
    height:55px;
}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #494949;
    z-index: 100000001;
  }
  .preloader__items img{
    margin-left:20px;
    margin-right:20px;
  }
  .preloader__items{
      width:100%;
      position: absolute;
      font-size: 40px;
      top:45%;
      display: flex;
      align-items: center;
      justify-content: center;
      height:auto;
      color:#fff;
      text-shadow: 0px 0px 3px #000;
    }
    .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }
  .menu{
    width:100%;
    z-index: 20;
    top:0px;
    min-height:50px;
    background-color:transparent;
    display: flex;
}
.menu__logo__item img {
    width:56px;
    height:56px;
}
.menu__logo__item{
    cursor: pointer;
    padding:10px;
    position: relative;
    margin:15px 30px ;
    border-radius:100%;
    width:64px;
    height:64px;
    margin-right:20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.menu-main{
  position: absolute;
}
.menu__row{
    list-style: none;
    display: flex;
    background-color: transparent;
}
.menu__row__active{
    list-style: none;
    display: flex;
    background-color: transparent;
}
.menu__item{
    font-weight: 600;
    color:#fff;
    position: relative;
    margin:auto 15px;
    cursor:pointer;
    font-size: 16px;
    text-shadow: 0px 0px 3px #000;
}
.menu__item__active{
    background-color: #1273EB;
    color:#fff;
    position: relative;
    margin:auto 15px;
    cursor:pointer;
    min-width: 150px;
    font-size: 16px;
    text-shadow: 0px 0px 3px #000;
    padding:10px;
    border-radius: 10px;
    border:2px solid #1273EB;
    transition: .2s ease-in;
}
.menu__item__active:hover{
background:none;
background-color: #fff;
color:#1273EB;
text-shadow: none;
}
.menu__logo{
    min-width:60%;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
}

.menu__log__in{
    width:40%;
    display: flex;
    justify-content: flex-end;
}

.menu li{
    text-align: center
}
#menu__more__info{
    width:400px;
    min-height:600px;
    background-color: #595959;
    position: absolute;
    top:80px;
    z-index:100;
    left:0px;
    transition: 1s;
    display: none;
}
#menu__more__info.active{
    display: block;
    transition: 1s;
}

[tooltip] {
    display:flex;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none; 
    font-size: .9em; 
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 1;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent; 
    z-index: 1001; 
  }
  [tooltip]::after {
    content: attr(tooltip); 
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
  }
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  [tooltip]:not([flow])::before,
  [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  [tooltip]:not([flow])::before,
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::before,
  [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }
  [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
  [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
  }
  [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }
  @keyframes tooltips-vert {
    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after,
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }
  
  [tooltip][flow^="left"]:hover::before,
  [tooltip][flow^="left"]:hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
} 
  .menu__sign{
    margin-left:10px;
}
.menu__sign img{
    width:16px;
    height:16px;
}
.main-title-block hr {
    color:#fff;
    height:3px;
    background-color: #fff;
    width:300px;
}
.menu__item:hover{
  opacity: .5;
}
.profile{
  background-color: #1273EB;
  font-weight: 600;
  color:#fff;
  position: relative;
  margin:auto 15px;
  padding:10px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-shadow: 0px 0px 3px #000;
  border-radius: 10px;
  border:2px solid #1273EB;
}
.about-header{
  height:calc(100vh - 114px);
  background-image: url("https://wallpaperaccess.com/full/185289.jpg");
  filter: contrast(1.6);
  box-shadow: 0px 0px 100px #fff inset;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.dark-element{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  background-color: rgba(0,0,0,.5);
}
.dark-element__title{
  color:#fff;
  text-align: center;
  text-shadow: 0px 0px 3px #000;
  font-size: 48px;
  font-weight: bold;
}
.dark-element__subtitle{
  color:#fff;
  text-align: center;
  text-shadow: 0px 0px 3px #000;
  font-size: 20px;
  font-weight: bold;
}
.about-body{
  height:600px;
  position: relative;
}
.about-body h2{
  width:100%;
  text-align: center;
  margin: 50px auto;
  color:#fff;
  font-size: 28px;
  text-shadow: 0px 0px 3px #000;
  text-transform: capitalize;
  word-wrap: break-word;
}
.about-body__row{
  margin: 40px auto;
  display: flex;
  justify-content: center;
}
.about-body__img{
  width: 40vw;
  margin:0px 20px;
}
.about-body__img img{
  width:100%;
  filter: contrast(1.2);
  border-radius: 0px 80px;
}
.about-body__container{
  background-color: gray;
  width:40vw;
  border:3px solid #1273EB;
  box-sizing: border-box;
  margin:0px 20px;
  padding:30px;
  border-radius: 80px 0px;
}
.about-body__title{
  color:#fff;
  font-size:24px;
  font-weight: bold;
  text-transform: uppercase;
}
.about-body__line{
  width:150px;
  border:none;
  margin:20px 0px;
  background-color: #1273EB;
  height:5px;
}
.about-body__description{
  margin:20px 0px;
  font-size: 18px;
  color:#fff;
  word-spacing: 5px;
}
.news__row{
 margin: 30px 30px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}
.news-cards{
  margin:30px auto;
  width: 350px;
  position: relative;
  border:1px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px 0px 20px 0px;
}
.news-cards img{
  width:100%;   
  transform: rotate(15de  g) scale(1.4);
  transition: .2s ease-in;
}
.news-cards:hover img{
  transition: .2s ease-in;
  transform: scale(1);
}
.news-cards__title{
  text-align: center;
  color:#fff;
  text-shadow: 0px 0px 3px #000;
  font-size: 20px;
}
.news-cards:first-of-type::after{
  content: "new";
  color:#fff;
  text-shadow: 0px 0px 3px #000;
  text-align: center;
  padding:10px;
  background-color: red;
  position: absolute;
  top:0;
  border-radius: 0px 30px 0px 30px;
  right:0px;
}
.news-cards__image{
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  height:200px;
  overflow: hidden;
}