*{
  margin:0;
  padding:0;
  font-family:sans-serif;
  box-sizing: border-box;
}
button, input[type = submit], input[type = checkbox] {
  cursor: pointer;
}

.casual_btn{
  background-color: #1273EB;
  color:#fff;
  text-shadow: 0px 0px 3px #000;
  font-weight: bold;
  border-radius: 20px;
  border:none;
  box-sizing: border-box;
  padding:10px;
  transition: .5s;
}
.casual_btn:hover{
    box-shadow: 0px 0px 10px #fff inset;
    transition: .5s;
}
.warning{
  width:100%;
  text-align: center;
  padding:5px;
  display:none;
  font-size:15px;
  text-shadow:none;
}
a{
  text-decoration: none;
  color:#fff;
}
a.back-to-top {
	display: none;
	width: 65px;
	height: 65px;
	position: fixed;
	z-index: 999;
  right: 20px;
  border:3px solid #1273EB;
  bottom:100px;
  background-color: #1273EB;
  border-radius: 100%;
  transition: .2s;    
}
a.back-to-top:hover{
    border-color:#fff;
    transition: .2s;
}
a.back-to-top img {
    width:55px;
    height:55px;
    margin: auto;
}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #494949;
    z-index: 100000001;
  }
  .preloader__items img{
    margin-left:20px;
    margin-right:20px;
  }
  .preloader__items{
      width:100%;
      position: absolute;
      font-size: 40px;
      top:45%;
      display: flex;
      align-items: center;
      justify-content: center;
      height:auto;
      color:#fff;
      text-shadow: 0px 0px 3px #000;
    }
    .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }
  .menu{
    width:100%;
    z-index: 20;
    top:0px;
    min-height:50px;
    background-color:transparent;
    display: flex;
}
.menu__logo__item img {
    width:56px;
    height:56px;
}
.menu__logo__item{
    cursor: pointer;
    padding:10px;
    position: relative;
    margin:15px 30px ;
    border-radius:100%;
    width:64px;
    height:64px;
    margin-right:20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.menu-main{
  position: absolute;
}
.menu__row{
    list-style: none;
    display: flex;
    background-color: transparent;
}
.menu__row__active{
    list-style: none;
    display: flex;
    background-color: transparent;
}
.menu__item{
    font-weight: 600;
    color:#fff;
    position: relative;
    margin:auto 15px;
    cursor:pointer;
    font-size: 16px;
    text-shadow: 0px 0px 3px #000;
}
.menu__item__active{
    background-color: #1273EB;
    color:#fff;
    position: relative;
    margin:auto 15px;
    cursor:pointer;
    min-width: 150px;
    font-size: 16px;
    text-shadow: 0px 0px 3px #000;
    padding:10px;
    border-radius: 10px;
    border:2px solid #1273EB;
    transition: .2s ease-in;
}
.menu__item__active:hover{
background:none;
background-color: #fff;
color:#1273EB;
text-shadow: none;
}
.menu__logo{
    min-width:60%;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
}

.menu__log__in{
    width:40%;
    display: flex;
    justify-content: flex-end;
}

.menu li{
    text-align: center
}
#menu__more__info{
    min-width:450px;
    background-color: #595959;
    position: absolute;
    top:80px;
    z-index:100;
    left:0px;
    transition: 1s;
    display: none;
}
#menu__more__info.active{
    display: block;
    transition: 1s;
}
.more__body{
  margin:20px;
}
.more__title{
  text-align: center;
  font-size: 18px;
  padding:10px;
  border-bottom: 2px solid #fff;
  font-weight: bold;
}
.more__row{
  display: flex;
}
.more__row a{
  font-size: 18px;
}
.more__column{
  width: 50%;
}
.more__column img{
width:32px;
margin-right:10px;
border-radius: 100%;
background-color: #fff;
height:32px;
}
.more__column:nth-child(1){
  border-right: 2px solid #fff;
}
.more__column p {
  display: flex;
  align-items: center;
  padding: 10px;
}
[tooltip] {
    display:flex;
    position: absolute;
    justify-content: center;
    align-items: center;
  }
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none; 
    font-size: .9em; 
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 1;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent; 
    z-index: 1001; 
  }
  [tooltip]::after {
    content: attr(tooltip); 
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
  }
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  [tooltip]:not([flow])::before,
  [tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
  }
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
  }
  [tooltip]:not([flow])::before,
  [tooltip]:not([flow])::after,
  [tooltip][flow^="up"]::before,
  [tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
  }
  [tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
  }
  [tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
  }
  [tooltip][flow^="down"]::before,
  [tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
  }
  [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
  }
  [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }
  [tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
  }
  [tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
  }
  @keyframes tooltips-vert {
    to {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after,
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }
  
  [tooltip][flow^="left"]:hover::before,
  [tooltip][flow^="left"]:hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
} 
  .menu__sign{
    margin-left:10px;
}
.menu__sign img{
    width:16px;
    height:16px;
}
.main-title-block hr {
    color:#fff;
    height:3px;
    background-color: #fff;
    width:300px;
}
.menu__item:hover{
  opacity: .5;
}
.profile{
  background-color: #1273EB;
  font-weight: 600;
  color:#fff;
  position: relative;
  margin:auto 15px;
  padding:10px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-shadow: 0px 0px 3px #000;
  border-radius: 10px;
  border:2px solid #1273EB;
}

.dark-element{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  background-color: rgba(0,0,0,.5 );
}
.dark-element__title{
  color:#fff;
  text-align: center;
  text-shadow: 0px 0px 3px #000;
  font-size: 48px;
  font-weight: bold;
}
.dark-element__subtitle{
  color:#fff;
  text-align: center;
  text-shadow: 0px 0px 3px #000;
  font-size: 20px;
  font-weight: bold;
}
footer{
  padding: 20px;
}
.footer__item{
  display:flex;
  justify-content:center;
}
.header__footer{
  text-align:center;
  margin:0px !important;
}
.contacts p{
margin:20px;
}
.socials{
  display: flex;
}
.socials a{
  margin:auto;
  cursor: pointer;
  transition: .5s;
}
.socials a:hover{
  transform: scale(1.3);
  transition: .5s;
}
.about__some-words{
width:100%;
position: relative;
background-image: url("../images/aboutUs.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
height: 500px;
}
.about__some-item{
  background-color: #fff;
  padding:20px;
  border-radius: 20px;
}
.center{
  text-align: center;
}
p.center{
 max-width: 800px;
 margin:20px;
 font-size: 20px;
 line-height: 50px;
}