.darked-body{
    background-color: #404040 !important;
}
.no-overflow-x{
    overflow-x:hidden !important;
}
.text3d{
    color:#fff;
    text-shadow: 0px 0px 3px #000;
    font-weight: bold;
}
.darked-text{
    color:#000 !important;
    text-shadow: none !important;
}   
.floatLeft{
    float: left !important;
}
.signSpecial{
    color:#1273EB;
}
.floatRight{
    float: right !important;
}
.darkBoxShadow{
    box-shadow: 0px 0px 3px #000 !important;
}
.standartStyle{
    background-color: #1273EB;
    color:#fff;
    text-shadow: 0px 0px 3px #000;
}
.present-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:calc(100vh - 94px);
    background-color: #fff;
}
.contrast{
    filter: contrast(1.5);
}
.displayBlock{
    display: block !important;
}
.pd-30{
    padding: 30px;
}