*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.order__field{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
}
.order__form{
    background-color: #4d4d4d;
    padding:40px;
    border-radius: 20px;
}
.order__form h2{
    text-align: center;
    color:#fff;
    
}
.order__form-block{
    display: flex;
    justify-content: center;
}
.order__form select,input{
    width:250px;
    padding:10px;   
    height:40px;
    border-radius: 10px;
    border:none;
}
.order__input{
    margin:20px;
}
.order__form input[type = 'submit']{
    padding:10px;
    border:none;
    border-radius: 10px;
    font-size: 18px ;
    width:calc(100% - 40px);
}
.order__input-header{
    color:#fff;
    margin:10px 0px;
}
.order-cards__row{
    margin:0px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.order-card__image
{
    min-height: 200px;
    width:100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
}
.order-card__image > .dark-element{
    padding:10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.order-card__item{
    width:350px;
    border:1px solid #000;
    margin:20px;
    font-size: 20px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    filter: contrast(1.5);
    background-color: #fff;
}
.order-crad__title{
    margin:0px 10px;
    text-transform: uppercase;   
}
.order-cards__inforamation{
    margin:5px;
}
.order-cards__description{
    padding:20px;

}