body{
background-color: #404040;
overflow: hidden;
margin:0px;
padding:0px;
font-family: Arial, Helvetica, sans-serif;
}
a{
text-decoration: none;
color:#fff;
}
*{
margin:0px;
padding:0px;
}
button{
cursor:pointer;
}
.preloader {
position: fixed;
left: 0;
top: 0;
right: 0;
bottom: 0;
background: #494949;
z-index: 100000001;
}
.preloader__items img{
margin-left:20px;
margin-right:20px;
}
.preloader__items{
    width:100%;
    position: absolute;
    font-size: 40px;
    top:45%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:auto;
    color:#fff;
    text-shadow: 0px 0px 3px #000;
}
.loaded_hiding .preloader {
transition: 0.3s opacity;
opacity: 0;
}

.loaded .preloader {
display: none;
}
.register{
    width:100%;
    min-height:100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register__row{
    width:100%;
    display: flex;
    justify-content: center;
}
.enter__video{
    min-width: 100%;
    min-height:100%;
    top:0;
    left:0;
    z-index: 10;
    position: fixed;
}
.register__item{
    width:80%;
    height:80%;
    display: flex;
    z-index: 100;
    justify-content: flex-start;
    align-items: center;
}
.dark-position{
    position: fixed;
    width:100%;
    height:100%;
    background-color: rgb(0,0,0,.7);
    z-index: 11;
}
h2{
    width:100%;
    text-align: center;
    z-index: 11;
    margin:30px;
    text-shadow: 0px 0px 3px #000;
}
.register__input{
    width:70%;
    display: flex;
    min-height: 500px;
    justify-content: center;
    background-color: ivory;
}
.register__input p {
    margin:10px auto;
    width:100%;
}