html{
  scroll-behavior: smooth;
}
.main{
    min-height:100vh;
    position: relative;
    background-image: url(https://images.wallpaperscraft.ru/image/tropiki_kurort_otdyh_90877_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}
.main__gray{
    position: absolute;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.7);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__title{
font-size:70px;
color:#fff;
font-weight: bold;
text-transform: uppercase;
text-shadow: 0px 0px 3px #000;
}
.main__subtitle{
    font-size:25px;
    letter-spacing: 3px;
    color:#fff;
    font-weight: bold;
    text-shadow: 0px 0px 3px #000;
}
.main-title-block{
    width:100%;
    text-align: center;
}
.main__text{
    font-size: 20px;
    color:#fff;
    text-shadow: 0px,0px,3px #000;
}
.main__element{
margin-top:50px;
}
.main__element button{
    cursor: pointer;
    width:150px;
    border-radius: 40px;
    padding:10px;
    border:none;
    background-color: #fff;
    color:#595959;
    text-transform: uppercase;   
    transition: .3s;
}
.main__element button:hover{
  background-color: #127EB3;
  color:#fff;
  text-shadow: 0px 0px 3px #000;
  box-shadow: 0px 0px 10px #fff inset;

  transition: .3s;
}
.line{
    display: flex;
    justify-content: center;
    margin:10px;
}
.content__title{
  text-align:center;
  text-transform: uppercase;
  word-spacing: 10px;
  color:gray;
  font-size: 40px;
  text-shadow: 0px 0px 1px #000;
  margin-top:30px; 
  font-weight: bold;
}   
.content__subtitle{
  text-align: center;
  font-weight: 700;
  color:#333;
  font-size: 20px;
}