*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.order__field{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
}
.order__form{
    background-color: #4d4d4d;
    padding:40px;
    border-radius: 20px;
}
.order__form h2{
    text-align: center;
    color:#fff;
    
}
.order__form-block{
    display: flex;
    justify-content: center;
}
.order__form select,input{
    width:250px;
    padding:10px;   
    height:40px;
    border-radius: 10px;
    border:none;
}
.order__input{
    margin:20px;
}
.order__form input[type = 'submit']{
    padding:10px;
    border:none;
    border-radius: 10px;
    font-size: 18px ;
    width:calc(100% - 40px);
    margin:20px;
}

.order__input-header{
    color:#fff;
    margin:10px 0px;
}
.order-cards__row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.order-card__image
{
    min-height: 200px;
    width:100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.order-card__image > .dark-element{
    padding:10px;
    display: block !important;
}
.dark-element__low-row{
    display: flex;
    align-items: flex-end;
}
.dark-element__up-row{
    display: flex;
    height:80%; 
}
.orderUp_1, .orderUp_2{
    width:50%;
}
.orderUp_1{
    display: flex;
    justify-content: flex-start;
}
.orderUp_2{
    display: flex;
    justify-content: flex-end;
}
.dark-element__up-row p {
    text-align: center;
}
.order-card__item{
    width:350px;
    border:1px solid #000;
    margin:20px;
    font-size: 20px;
    border-radius: 20px;
    overflow: hidden;
    filter: contrast(1.5);
    background-color: #fff;
}
.order-crad__title{
    margin:0px 10px;
    text-transform: uppercase;   
}
.order-cards__inforamation{
    margin:5px;
}
.order-cards__description{
    padding:20px;

}
.orders__warning{
    margin:20px;
    background-color: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    padding:40px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
.offers-cards__sign
{
    margin: 10px;
}
.offers-cards__sign button{
    width:100%;
    margin:5px 0px;
    font-size: 16px;
}
.offers-cards__hotel-name{
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.order__send-form{
    width:100%;
    height:100%;
    display: none;
    left:0;
    top:0;
    z-index: 10;
    position: fixed;
    background-color: rgba(0,0,0,.8);
}
.order__call-form input{
     width:80%;    
     padding:10px;
     margin:10px 10%;
     border-radius: none;
     border:1px solid #000;
}
.order__call-form textarea{
    width:100%;
    border-radius: none;
    border:1px solid #000;
}
.order__send-body{
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
}
.order__call-form{
    padding:50px;
    margin:40px;
    overflow-x: auto    ;
    background-color: #fff;
    border-radius: 20px;
    max-width:600px
}
h2.offers-cards__hotel-name{
    margin-top:40px;    
}
.order__call-form textarea{
resize: none;
padding:20px;
width: 80%;
margin: 10px 10%;
}
.order__inputBlokc{
    margin: 10px 0px; 
}
.order__inputBlokc > p {
    text-align: center;
}
.order__send-body h2,h3,h4{
    text-align: center;
    margin:10px;
    color:#000;
    text-shadow: none;
}
.order__send-body h3 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order__send-body h3 img, .order__send-moreinfo img{
    margin: 0px 10px;
    max-width:32px;
}
.order__send-moreinfo{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin:10px 0px;
} 
.slider {
    z-index: 9;
    width: 470px;
    height: 290px;
    overflow: hidden;
    margin: 30px 0px;
    position: relative;
    }
    .slider ul,
    .slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    }
    .slider ul {
    width: 9999px; 
    }
    .slider ul li {
    list-style-type: none;
    float: left;
    width: 470px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 290px;
    }
    .slider .nav {
    position: absolute;
    left: 15px;
    bottom: 12px; 
    }
    .slider .nav span {
    opacity: 0.9;
    background: #fff;
    margin: 0 8px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #000;
    }
    .slider .nav span.on {
    background: #1237eb;
    }